{{!-- 
  <div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Days</th>
                <th>Slot 1</th>
                <th>Slot 2</th>
                <th>Slot 3</th>
            </tr>
        </thead>
         <tbody>
            {{#each schedule}}
            <tr>
                <td>{{day_of_the_week}}</td>
                <td>{{this.waiter_name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div> --}}
    <div class="container">
        <h1>Admin Schedule</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Waiter Name</th>
                    <th>Day</th>
                </tr>
            </thead>
            <tbody>
                {{#each schedule}}
                <tr>
                    <td>{{ this.waiter_name }}</td>
                    <td>{{ this.day_of_the_week }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
 <form action="/reset" method="POST">
    <button class="btn btn-primary" type="submit">Clear Schedule</button>
  </form>


  


    





   









