<p>For waiter: enter your name from the textbox and submit or go to the url and add /waiter/"your name"</p>
<p>For admin: enter 'admin' from the textbox and submit or go to the url and add /days</p>
  <div class="container">
        <form action="/post_login" method="POST">
            <label for="name">Name:</label>
            <input
                type="text"
                id="name"
                name="name"
                placeholder="Enter your name"
                required
            />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


