
    <h1>Select Your Availability</h1>
    <form action="/waiters/:username" method="POST">
        <label for="monday">Monday</label>
        <input type="checkbox" id="monday" name="days[]" value="Monday">
        <!-- Repeat similar lines for other days of the week -->

        
        <button type="submit">Submit</button>
    </form>





